<div class="card__container">

  <div class="card-input__container">
    <h2>SEARCH</h2>
    <input type="text" (input)="getLivro($any($event.target).value)">
    <br><br>
  </div>

  <div class="card-name__container">
    <h2>{{ livroNome }}</h2>
  </div>

  <div class="card-autor__container">
    <h3>Autor: {{ livroAutor }}</h3>
  </div>

  <div class="card-others-info__container">

    <div class="ano-lancamento__container">
      <span>Ano de Lançamento: {{ livroLancamento }}</span>
    </div>
  
    <div class="tipo__container">
      <span>Tipo da Publição: {{ livroTipo }}</span>
    </div>
  
    <div class="genero__container">
      <span>Genero: {{ livroGenero }}</span>
    </div>
  
    <div class="nome-editora__container">
      <span>Editora: {{ livroEditora }}</span>
    </div>
  
    <div class="ano-edicao__container">
      <span>Ano da Edição: {{ anoEdicao }}</span>
    </div>
  
    <div class="num-edicao__container">
      <span>Numero da Edição: {{ numEdicao }}</span>
    </div>
    
  </div>
</div>
